In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [2]:
data = pd.read_csv("/Users/mac/Desktop/DST/DATAFRAMES/movie_bd_v5.csv")
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1360,tt0382077,25000000,122644820,Hide and Seek,Robert De Niro|Dakota Fanning|Famke Janssen|El...,John Polson,"Come out, come out, whatever you are.",David Callaway tries to piece together his lif...,101,Horror|Mystery|Thriller,Twentieth Century Fox Film Corporation|Fox 200...,1/27/2005,6.2,2005
1163,tt0295289,20000000,17432163,A Guy Thing,Jason Lee|Julia Stiles|Selma Blair|James Broli...,Chris Koch,Boy meets girl. Boy meets girl's cousin.,Paul Morse is a good guy. When his friends thr...,101,Comedy|Romance,Metro-Goldwyn-Mayer (MGM)|David Ladd Films,1/17/2003,5.3,2003
948,tt0280486,70000000,65977295,Bad Company,Anthony Hopkins|Chris Rock|Peter Stormare|Gabr...,Joel Schumacher,Two Mismatched Partners. One Messed Up Case!,When a Harvard-educated CIA agent is killed du...,116,Action|Adventure|Comedy|Thriller,Jerry Bruckheimer Films|Touchstone Pictures|St...,6/7/2002,5.5,2002
1103,tt0266465,36000000,44350926,A Man Apart,Vin Diesel|Larenz Tate|Timothy Olyphant|Geno S...,F. Gary Gray,Love changes a man. Revenge tears him apart.,When Vetter's wife is killed in a botched hit ...,109,Action|Drama,New Line Cinema|Newman/Tooley Films|Joseph Nit...,4/4/2003,5.7,2003
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,7.9,2014

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format

# выводим показатель "прибыль"
data['profit'] = data.revenue - data.budget

# разбиваем список на отдельные значения
data['genres'] = data.genres.str.split('|') 
data['director'] = data.director.str.split('|')
data['cast'] = data.cast.str.split('|')
data['production_companies_split'] = data.production_companies.str.split('|')

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'
# "+"

In [6]:
#  фильтруем по максимальному бюджету, выводим с помощью функции unique()
print(data[data.budget == data.budget.max()].original_title.unique())

['Pirates of the Caribbean: On Stranger Tides']

ВАРИАНТ 2

In [7]:
# сортируем по колонке бюджет от большего к меньшему значению, выводим первыю строку
print(data.sort_values(by = 'budget', ascending=False).head(1))

       imdb_id     budget     revenue  \
723  tt1298650  380000000  1021683000

                                  original_title  \
723  Pirates of the Caribbean: On Stranger Tides

                                                  cast        director  \
723  [Johnny Depp, PenÃ©lope Cruz, Geoffrey Rush, I...  [Rob Marshall]

                         tagline  \
723  Live Forever Or Die Trying.

                                              overview  runtime  \
723  Captain Jack Sparrow crosses paths with a woma...      136

                           genres  \
723  [Adventure, Action, Fantasy]

                                  production_companies release_date  \
723  Walt Disney Pictures|Jerry Bruckheimer Films|M...    5/11/2011

     vote_average  release_year     profit  \
723           6.3          2011  641683000

                            production_companies_split
723  [Walt Disney Pictures, Jerry Bruckheimer Films...

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
answers['2'] = 'Gods and Generals'
# "+"

In [9]:
# фильтруем по максимальной длительности, выводим с помощью функции unique()
print(data[data.runtime == data.runtime.max()].original_title.unique())

['Gods and Generals']

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = 'Winnie the Pooh'
# "+"

In [11]:
# фильтруем по минимальной длительности, выводим с помощью функции unique()
print(data[data.runtime == data.runtime.min()].original_title.unique())

['Winnie the Pooh']

# 4. Какова средняя длительность фильмов?

In [12]:
answers['4'] = '110'
# "+"

In [13]:
# используем округление и функцию mean()
print(round(data.runtime.mean()))

110

# 5. Каково медианное значение длительности фильмов?

In [14]:
answers['5'] = '107'
# "+"

In [15]:
# используем округление и функцию median()
print(round(data.runtime.median()))

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
answers['6'] = 'Avatar'
# "+"

In [17]:
# фильтруем по максимальной прибыли и выводим результат с помощью функции unique()
print(data[data['profit'] == data['profit'].max()].original_title.unique())

['Avatar']

# 7. Какой фильм самый убыточный?

In [18]:
answers['7'] = 'The Lone Ranger'
# "+"

In [19]:
# фильтруем по мминимальной прибыли и выводим результат с помощью функции unique()
print(data[data['profit'] == data['profit'].min()].original_title.unique())

['The Lone Ranger']

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [20]:
answers['8'] = '1478'
# "+"

ВАРИАНТ 1

In [21]:
# сравниваем сборы и бюджет
print(data[data['revenue'] > data['budget']].original_title.count())

1478

ВАРИАНТ 2

In [22]:
# фильтруем по положительной прибыли
print(data[data['profit'] > 0].original_title.count())

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [23]:
answers['9'] = 'The Dark Knight'
# "+"

In [24]:
# фильтруем по 2008 году
data1 = data[data.release_year == 2008]
# суммируем кассовые сборы по фильмам, сортируем от большего к меньшему 
# выводим первую строку
print(data1.groupby(['original_title'])['revenue'].sum().sort_values(ascending=False).head(1))

original_title
The Dark Knight    1001921825
Name: revenue, dtype: int64

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [25]:
answers['10'] = 'The Lone Ranger'
# "+"

In [26]:
# фильтруем  по годам выпуска
data2 = data[(data.release_year >= 2012) & (data.release_year <= 2014)]
# суммируем прибыль по фильмам
# сортируем по прибыли от меньшей к большей, выводим первую строку
print(data2.groupby(['original_title'])['profit'].sum().sort_values(ascending=True).head(1))

original_title
The Lone Ranger   -165710090
Name: profit, dtype: int64

# 11. Какого жанра фильмов больше всего?

In [27]:
answers['11'] = 'Drama'
# "+"

ВАРИАНТ 1

In [28]:
data3 = data.copy()
data3 = data3.explode('genres')  # переносим жанры в отдельные строки
print(data3.genres.value_counts().head(1))  # считаем количество

Drama    782
Name: genres, dtype: int64

ВАРИАНТ 2

In [29]:
# используем для подсчета метод counter()
# выводим самое распространенное значение с помощью метода most_common(n)
print(Counter(data.genres.sum()).most_common(1))

[('Drama', 782)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [30]:
answers['12'] = 'Drama'
# "+"

ВАРИАНТ 1

In [31]:
# переносим жанры в отдельные строки
D1 = data.explode('genres')  
# фильтруем по положительной прибыли
print(D1.genres[data['profit'] > 0].value_counts().head(1))

Drama    560
Name: genres, dtype: int64

ВАРИАНТ 2

In [32]:
# переносим жанры в отдельные строки
data1 = data.explode('genres')  
# фильтруем по занчениям где сборы больше бюджета
print(data1.genres[data['revenue'] > data['budget']].value_counts().head(1))

Drama    560
Name: genres, dtype: int64

ВАРИАНТ 3

In [33]:
# фильтруем по положительной прибыли
# используем для подсчета метод counter()
# выводим самое распространенное значение с помощью метода most_common(n)
print(Counter(data[data['profit'] > 0].genres.sum()).most_common(1))

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [34]:
answers['13'] = 'Peter Jackson'
# "+"

In [35]:
# переносим режиссеров в отдельные строки
data4 = data.explode('director')
# суммируем кассовые сборы по режиссерам, сортируем от большего к меньшему
# выводим первую строку
print(data4.groupby(['director'])['revenue'].sum().sort_values(ascending=False).head(1))

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [36]:
answers['14'] = 'Robert Rodriguez'
# "+"

In [37]:
data5 = data.explode('genres')
# фильтруем по жанру 'Action', разбиваем директоров по строкам, считаем, выводим 1 строку
print(data5[data5.genres == 'Action'].director.explode().value_counts().head(1))

Robert Rodriguez    9
Name: director, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [38]:
answers['15'] = 'Chris Hemsworth'
# "+"

In [39]:
# переносим каждого актера в отдельную строку
data6 = data.explode('cast')
# фильтруем по году выпуска
data7 = data6[data6.release_year == 2012]  
# суммируем кассовые сборы по актерам, сортируем от большего к меньшему
# выводим первую строку
print(data7.groupby(['cast']).revenue.sum().sort_values(ascending=False).head(1))

cast
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [40]:
answers['16'] = 'Matt Damon'
# "+"

In [41]:
# задаем фильтр по фильмам с бюджетом выше среднего
data8 = data[data.budget >= data.budget.mean()]
# разбиваем актеров постррочно, считаем количество фильмов по каждому актеру по убыванию
# выводим первую строку
print(data8.cast.explode().value_counts(ascending=False).head(1))

Matt Damon    18
Name: cast, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [42]:
answers['17'] = 'Action'
# "+"

In [43]:
data8 = data.explode('cast')
# фильтруем по актеру, разбиваем жанры по строкам, считаем
print(data8[data8.cast == 'Nicolas Cage'].genres.explode().value_counts().head(1))

Action    17
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [44]:
answers['18'] = 'K-19: The Widowmaker'
# "+"

In [45]:
data9 = data.explode('production_companies_split')
# фильтруем по Paramount Pictures
data5 = data9[data9.production_companies_split == 'Paramount Pictures']
# выводим фильм с минимаьной прибылью
print(data5[data5['profit'] == data5['profit'].min()].original_title.unique())

['K-19: The Widowmaker']

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [46]:
answers['19'] = '2015'
# "+"

In [47]:
# суммируем кассовые сборы по годам, сортируем от большего к меньшему
# выводим первую строку
print(data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).head(1))

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [48]:
answers['20'] = '2014'
# "+"

In [49]:
# фильтруем по содержанию в столбце 'production_companies' студии 'Warner Bros'
data1 = data[data.production_companies.str.contains('Warner Bros')]
# суммируем прибыль по годам, сортируем от большего к меньшему
# выводим первую строку
print(data1.groupby(['release_year'])['profit'].sum().sort_values(ascending=False).head(1))

release_year
2014    2295464519
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [50]:
answers['21'] = 'сентябрь'
# "+"

In [51]:
# приводим даты к нормальному виду
data.release_date = pd.to_datetime(data.release_date)
data['release_month'] = data.release_date.dt.month
# считаем. количество фильмов по месяцам
print(data.release_month.value_counts().head(1))

9    227
Name: release_month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [52]:
answers['22'] = '450'
# "+"

In [53]:
print(len(data[(data.release_date.dt.month < 9) & (data.release_date.dt.month > 5)]))

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [54]:
answers['23'] = 'Peter Jackson'
# "+"

ВАРИАНТ 1

In [55]:
# фильтруем по месяцам
data5 = data[data.release_month.isin([1,2,12])] 
# используем для подсчета метод counter()
# выводим самое распространенное значение с помощью метода most_common(n)
print(Counter(data5.director.sum()).most_common(1))

[('Peter Jackson', 7)]

ВАРИАНТ 2

In [56]:
# фильтруем по месяцам
data5 = data[data.release_month.isin([1,2,12])]  
# разбиваем директоров по строкам, считаем
print(data5.director.explode().value_counts().head(1))

Peter Jackson    7
Name: director, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [57]:
answers['24'] = 'Four By Two Productions'
# "+"

In [58]:
# создаем колонку "длина названия фильма"
data['title_len'] = data.original_title.str.len()

list_prod_comp = []  #   создаем список студий
list_title_len = []  #  создаем список длинн названий фильмов


for i in range(len(data)):
     # цикл по студиям
    for prod_comp in data.iloc[i].production_companies_split:
        # в список студий добаляем названия студий
        list_prod_comp.append(prod_comp)
        # в список длинн названий фильмов добаляем добавляем значения
        list_title_len.append(data.iloc[i].title_len)
        
# создаем датафрэйм из полученных списков
data6 = pd.DataFrame({'production_companies': list_prod_comp,'title_len': list_title_len})
# суммируем длинну названия фильмов по студиям, выводим среднее значение
# сортируем от большего к меньшему, выводим первую строку
print(data6.groupby(['production_companies'])['title_len'].mean().
      sort_values(ascending=False).head(1)
     )

production_companies
Four By Two Productions    83.0
Name: title_len, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [59]:
answers['25'] = 'Midnight Picture Show'
# "+"

In [60]:
# создаем колонку "длина названия фильма"
data['overview_len'] = data.overview.str.len()

list_prod_comp = []  #   создаем список студий
list_overview_len = []  #  создаем список длинн описаний фильмов


for i in range(len(data)):
     # цикл по студиям
    for prod_comp in data.iloc[i].production_companies_split:
        # в список студий добаляем названия студий
        list_prod_comp.append(prod_comp)
        # в список длинн описаний фильмов добаляем добавляем значения
        list_overview_len.append(data.iloc[i].overview_len)
        
# создаем датафрэйм из полученных списков
data6 = pd.DataFrame({'production_companies': list_prod_comp,
                      'overview_len': list_overview_len})
# суммируем длинну описаний фильмов по студиям, выводим среднее значение
# сортируем от большего к меньшему, выводим первую строку
print(data6.groupby(['production_companies'])['overview_len'].mean().
      sort_values(ascending=False).head(1)
     )

production_companies
Midnight Picture Show    1000.0
Name: overview_len, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [61]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'
# "+"

In [62]:
print(data[data.vote_average > data.vote_average.quantile(0.99)].original_title)

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [63]:
answers['27'] = 'Daniel Radcliffe', 'Rupert Grint'
# "+"

In [64]:
# создаем список пар
pairs = data.cast.apply(lambda s: list(combinations(s, 2)))
# считаем как часто встречаюется каждая пара
data6 = Counter()
for i in range(len(pairs)):
    for frst_pair in pairs[i]:
        data6[frst_pair] += 1
# выводим наиболее часто встречающуюся пару
print(data6.most_common(1))

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

# Submission

In [65]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': '110',
 '5': '107',
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': '1478',
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': 'сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': ('Daniel Radcliffe', 'Rupert Grint')}

In [66]:
# и убедиться что ни чего не пропустил)
len(answers)

27